@import '../../../node_modules/materialize-css/sass/materialize.scss';

$back-color: #0097a7;
$firs-color: #2C2C2C;
$second-color: #03DAC5;

body {
    background-color: $back-color;
}
/**Estilos del navegador del header*/
.nav-Container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 2px;

    & img {
        width: 50px;
    }
    /**Estilos de boton de menu*/
    & a {
        color: $second-color;
    }
}
/**Estilos menu despegable*/
.sidenav__container {
    padding: 35px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    background-color: $back-color;

    & li {
        display: flex;
        justify-content: center;
    }

    & li a {
        color: $second-color;
        font-size: 20px;
    }
}
/**Estilos de contenedor de fondo*/
.banner-container {
    background-image: url('../../assets/sebastianPhoto.jpg');
    background-size: 100% 100%;
    margin-top: 0px;
    height: 40vh;

    &__section--text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & p {
            margin: 0px;
            color: white;
            font-size: 20px;
        }

        & b {
            color: $second-color;
        }
    }

}
/**Estilos de divisores */
.sub-title {
    display: block;
    margin:0px;
    padding: 30px 20px;
    color: $second-color;
    font-size: 1.4em;
    font-weight: bold;

}

/**Estilos de seccion de portafolio*/
.portafolio {
    margin-bottom: 0px;
}
.container-card {
    padding: 8px 10px;
    background-color: $firs-color;
    color: white;

    &__title b {
        letter-spacing: 1px;
        font-weight: bold;
        display: block;
        color: $second-color;
    }

    &__content {

        a {
            color: $second-color;
        }

        p {
            margin: 2px 0px 5px 0px;
            padding-left: 10px;
            padding-bottom: 10px;
            color: white;
        }
    }
}
/**Estilos de seccion de estudios*/
.container-certifications {
    background-color: $back-color;
    margin: 0px 10.5px;
    padding: 0px 5px;

    &__card {
        background-color: $back-color;
        padding: 5px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        & img {
            width: 150px;
            margin: 5px 5px;
        }
    }
}

/**Estilos de footer*/
.container-footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    & h2 {
        margin: 0px 0px;
        font-size: 1.7em;
        color: $second-color;
        font-weight: bold;
    }

    & p {
        color: $second-color;
    }

    &__contImg {

        & img {
            width: 70px;
            border-radius: 50px;
        }
    }
}