@import '../../../node_modules/materialize-css/sass/materialize.scss';

$back-color: #E1E2E1;
$firs-color: #2C2C2C;
$second-color: #0096a5;

body {
    background-color: $back-color;
}
/**Estilos del navegador del header*/
.nav-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 2px;

    & img {
        width: 50px;
    }
    /**Estilos de boton de menu*/
    & a {
        color: #ffffff;
    }
}
/**Estilos menu despegable*/
.sidenav__container {
    padding: 35px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    background-color: #006978;

    & li {
        display: flex;
        justify-content: center;
    }

    & li a {
        color: #ffffff;
        font-size: 20px;
    }
}
/**Estilos de contenedor de fondo*/
.banner-container {
    background-image: url('../../assets/photo_2019-11-08_12-22-59_edited_edited.jpg');
    background-size: 100% 100%;
    margin-top: 0px;
    height: 40vh;

    &__section--text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & p {
            margin: 0px;
            color: white;
            font-size: 20px;
        }

        & b {
            color: $second-color;
        }
    }

}
/**Estilos de divisores */
.sub-title {
    display: block;
    margin:0px;
    padding: 30px 20px;
    color: $second-color;
    font-size: 1.7em;
    font-weight: bold;

}

/**Estilos de seccion de portafolio*/
.portafolio {
    margin-bottom: 0px;
}
.container-card {
    padding: 8px 10px;
    background-color: #ffffff;
    color: #212121;

    &__title b {
        letter-spacing: 1px;
        font-weight: bold;
        display: block;
        color: #0096a5;
    }

    &__content {

        a {
            color: #0096a5;
        }

        p {
            margin: 2px 0px 5px 0px;
            padding-left: 10px;
            padding-bottom: 10px;
            color: #212121;
        }
    }
}
/**Estilos de seccion de estudios*/
.container-certifications {
    background-color: $back-color;
    margin: 0px 10.5px;
    padding: 0px 5px;

    &__card {
        background-color: $back-color;
        padding: 5px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        & img {
            height: 130px;
            width: 150px;
            margin: 5px 5px;
        }
    }
}

/**Estilos de footer*/
.container-footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    & h2 {
        margin: 0px 0px;
        font-size: 1.7em;
        color: #ffffff;
        font-weight: bold;
    }

    & p {
        color: #ffffff;
        font-size: 18px;
    }

    &__contImg {

        & img {
            width: 50px;
            margin-right: 15px;
            margin-top: 5px;
        }
    }
}