@import '../../../node_modules/materialize-css/sass/materialize.scss';

$back-color: #121212;
$second-color: #03DAC5;

body {
    background-color: $back-color;
}

.nav-Container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 2px;

    & img {
        width: 50px;
    }

    & a {
        color: $second-color;
    }
}

.sidenav__container {
    padding: 35px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    background-color: $back-color;

    & li {
        display: flex;
        justify-content: center;
    }

    & li a {
        color: $second-color;
        font-size: 20px;
    }
}